<% if @model == "book" %>
  <h2>Book search for "<%= @content %>"</h2>
  <%= render "books/index", books: @records %>
<% elsif @model == "user" %>
  <h2>User search for "<%= @content %>"</h2>
  <%= render "users/index", users: @records %>
<% end %>